html
head
   style
        include style.css

   title DELETE HOT DOG
   body
        br
        div 
            a(href="/menu")
                button(type="button") GO TO MENU
        br
        div 
            p #{message}

