html
head
   title HOTDOGS' MENU
   body
        h1 HOTDOGS' MENU
        br
        br
        div
            a(href="/hotDogs/create")
                button(type="button") CREATE NEW HOTDOG
        br

        div   
            a(href="/hotDogs")
                button(type="button") ALL HOTDOGS
        br
        div   
            a(href="/hotDogs/update")
                button(type="button") UPDATE HOTDOG
        br
        div   
            a(href="/hotDogs/delete")
                button(type="button") DELETE HOTDOG
        br
       
        //- button(type = "submit") Create new hot dog
        //- br
        //- button(type = "submit") Create new hot dog
        //- br
        //- button(type = "submit") Create new hot dog
        //- br
        //- button(type = "submit") Create new hot dog
